@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-center font-marker text-4xl text-white sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl;
  }
  p {
    @apply font-openSans text-white;
  }
  button {
    @apply bg-[url(img/button-shape.svg)] bg-contain bg-center bg-no-repeat py-4 pl-8 pr-12 font-openSans font-bold text-black transition-all duration-500;
  }

  button:hover {
    @apply scale-110 shadow-lg contrast-200;
  }
}

@layer components {
}

@layer utilities {
}

.hero-image {
  clip-path: url(#shape-lg);
  object-fit: cover;
  object-position: center;
}

/* svg path {
  transform-box: content-box;
  transform-origin: center;
} */
